.container {
    /* border:  2px solid red; */
    margin: 10px 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e3e3e3;
    border-radius: 10px;
}

.nav {
    display: flex;
    gap: 50px;
    /* border: 2px solid; */
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.nav img {
    cursor: pointer;
    width: 40px;
}

.nav img:hover {
    cursor: pointer;
    width: 39px;
}

.nav li {
    list-style: none;
    color: rgb(59, 59, 59);
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    /* border: 2px solid; */
}

.nav li.active{
    border-bottom: 2px dotted;
    color: black;
    /* font-weight: bold; */
}

.nav li:hover {
    /* font-weight: bold; */
    color: black;
}

.btn {
    /* border: 2px solid; */
    width: 30%;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    height: auto;
}

.btn button {
    width: 125px;
    height: auto;
    padding: 10px;
    background-color: #0083CF;
    color: white;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-size: 19px;
    box-shadow: 2px 2px black;
    font-weight: normal;
    transition: all ease 0.1s;
    border-radius: 10px;
}

.btn button:hover {
    border: none;
    font-size: 17px;
    border: none;
    box-shadow: none;
}